.SidebarChat{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #f6f6f6; 
    cursor: pointer;
}
.SidebarChat > .MuiAvatar-circular{
    width: 3.3rem;
    height: 3.3rem;
}
.SidebarChat:hover{
    background-color: #ebebeb;
}
.SidebarChat__info{
    margin-left: 1.2rem;
}
.SidebarChat__info h2{
    font-size: 1.2rem;
    margin-bottom: .4rem;
}
.SidebarChat__info p{
    margin-top: .2rem;
}