.App{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #80808047;
}
.App__body{
    display: flex;
    background-color: rgba(201, 194, 194, 0.938);
    margin-top: -3rem;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75)
}